/*
Syntax error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 4 spaces.
        on line 27 of /Users/andres/Documents/SOFTWARE/HTML/H5BP/projects/juegolimpio/sass/_base.sass
        from line 1 of /Users/andres/Documents/SOFTWARE/HTML/H5BP/projects/juegolimpio/sass/main.sass

Backtrace:
/Users/andres/Documents/SOFTWARE/HTML/H5BP/projects/juegolimpio/sass/_base.sass:27
/Users/andres/Documents/SOFTWARE/HTML/H5BP/projects/juegolimpio/sass/main.sass:1
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/engine.rb:417:in `block in tabulate'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/engine.rb:375:in `each'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/engine.rb:375:in `each_with_index'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/engine.rb:375:in `tabulate'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/engine.rb:338:in `_to_tree'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/engine.rb:267:in `to_tree'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/perform.rb:20:in `visit'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/perform.rb:29:in `block in visit_children'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/perform.rb:41:in `with_environment'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/perform.rb:28:in `visit_children'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/perform.rb:49:in `visit_root'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/perform.rb:20:in `visit'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/tree/root_node.rb:20:in `render'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/engine.rb:308:in `_render'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/sass-3.2.0.alpha.237/lib/sass/engine.rb:255:in `render'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:126:in `timed'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:139:in `block in compile'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/logger.rb:45:in `red'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:138:in `compile'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:101:in `each'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:101:in `block in run'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:126:in `timed'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:100:in `run'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/commands/base.rb:18:in `execute'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/commands/project_base.rb:19:in `execute'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/bin/compass:29:in `block in <top (required)>'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/bin/compass:43:in `call'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/bin/compass:43:in `<top (required)>'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/bin/compass:19:in `load'
/Users/andres/.rvm/gems/ruby-1.9.3-head@avesedari/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 27 of /Users/andres/Documents/SOFTWARE/HTML/H5BP/projects/juegolimpio/sass/_base.sass\A         from line 1 of /Users/andres/Documents/SOFTWARE/HTML/H5BP/projects/juegolimpio/sass/main.sass"; }
