/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/general/_fonts.sass */
.serif, blockquote, header .header_text h3 .text, .flags .flag .header {
  font-family: Georgia, serif;
}

/* line 14, ../sass/general/_fonts.sass */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 17, ../sass/general/_fonts.sass */
strong {
  font-weight: bold;
}

/* line 20, ../sass/general/_fonts.sass */
h1 {
  font-size: 2.5em;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

/* line 24, ../sass/general/_fonts.sass */
h2 {
  font-size: 1.7em;
  line-height: 1.3;
  margin-bottom: 0.75em;
}

/* line 28, ../sass/general/_fonts.sass */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 32, ../sass/general/_fonts.sass */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 36, ../sass/general/_fonts.sass */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 40, ../sass/general/_fonts.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 43, ../sass/general/_fonts.sass */
p {
  margin: 0 0 1.5em;
  line-height: 1.5;
}

/* line 46, ../sass/general/_fonts.sass */
a {
  color: #336699;
}
/* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #336699;
}
/* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #336699;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #6699cc;
}
/* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #336699;
}

/* line 48, ../sass/general/_fonts.sass */
blockquote {
  margin: 1.5em;
  line-height: 1.3;
  color: #666666;
  font-style: italic;
}

/* line 54, ../sass/general/_fonts.sass */
strong, dfn {
  font-weight: bold;
}

/* line 56, ../sass/general/_fonts.sass */
em, dfn {
  font-style: italic;
}

/* line 58, ../sass/general/_fonts.sass */
sup, sub {
  line-height: 0;
}

/* line 60, ../sass/general/_fonts.sass */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 62, ../sass/general/_fonts.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 65, ../sass/general/_fonts.sass */
del {
  color: #666666;
}

/* line 67, ../sass/general/_fonts.sass */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 70, ../sass/general/_fonts.sass */
li ul, li ol {
  margin: 0;
}

/* line 72, ../sass/general/_fonts.sass */
ul, ol {
  margin: 0;
  padding-left: 0;
}

/* line 75, ../sass/general/_fonts.sass */
ul {
  list-style-type: none;
}

/* line 77, ../sass/general/_fonts.sass */
ol {
  list-style-type: decimal;
  list-style-position: inside;
}

/* line 80, ../sass/general/_fonts.sass */
dl {
  margin: 0 0 1.5em 0;
}

/* line 82, ../sass/general/_fonts.sass */
dt {
  font-weight: bold;
}

/* line 84, ../sass/general/_fonts.sass */
dd {
  margin-left: 1.5em;
}

/* line 86, ../sass/general/_fonts.sass */
table {
  margin-bottom: 1.4em;
  width: 100%;
  border-collapse: collapse;
}

/* line 90, ../sass/general/_fonts.sass */
th {
  font-weight: bold;
}

/* line 92, ../sass/general/_fonts.sass */
thead th {
  background: #f7f7f7;
}

/* line 94, ../sass/general/_fonts.sass */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 96, ../sass/general/_fonts.sass */
table.striped tr:nth-child(even) td, table tr.even td {
  background: white;
}

/* line 98, ../sass/general/_fonts.sass */
tfoot {
  font-style: italic;
}

/* line 100, ../sass/general/_fonts.sass */
caption {
  background: white;
}

/* line 16, ../sass/_base.sass */
body {
  background-image: url("../img/bg.png");
}

/* line 24, ../sass/_base.sass */
.base, header {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 28, ../sass/_base.sass */
.base .container, header .container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 944px;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-head@avesedari/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.base .container:after, header .container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 32, ../sass/_base.sass */
.base .container .content, header .container .content {
  width: 100%;
  float: left;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/* line 38, ../sass/_base.sass */
header .header_text {
  padding-left: 8.475%;
  padding-right: 8.475%;
  width: 83.051%;
  float: left;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  text-align: center;
  margin-top: 2em;
}
/* line 44, ../sass/_base.sass */
header .header_text .reason {
  padding: 2%;
  width: 96%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #f0f0f0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(#ffffff, #f0f0f0);
  background: -moz-linear-gradient(#ffffff, #f0f0f0);
  background: -o-linear-gradient(#ffffff, #f0f0f0);
  background: -ms-linear-gradient(#ffffff, #f0f0f0);
  background: linear-gradient(#ffffff, #f0f0f0);
  -webkit-box-shadow: inset 0 0px 3px #666666;
  -moz-box-shadow: inset 0 0px 3px #666666;
  box-shadow: inset 0 0px 3px #666666;
}
/* line 51, ../sass/_base.sass */
header .header_text .reason p {
  margin-bottom: 0;
}
/* line 53, ../sass/_base.sass */
header .header_text .reason p a {
  font-size: 1.6em;
}
/* line 56, ../sass/_base.sass */
header .header_text h3 {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}
/* line 61, ../sass/_base.sass */
header .header_text h3 .text {
  display: inline-block;
  background-color: #f7f7f7;
  padding: 0 0.3em;
  color: #cccccc;
  font-size: 2.5em;
  line-height: 1;
  position: relative;
  text-shadow: #8c8c8c -1px -1px 0;
}
/* line 71, ../sass/_base.sass */
header .header_text h3 .line {
  position: absolute;
  background-color: #cccccc;
  left: 0;
  top: 1.4em;
  width: 100%;
  height: 3px;
}
/* line 78, ../sass/_base.sass */
header .header_text h2 {
  color: #8c8c8c;
  font-weight: normal;
}
/* line 81, ../sass/_base.sass */
header .header_text h1 {
  font-family: "Raleway", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #222222;
}
/* line 86, ../sass/_base.sass */
header .header_text h2 span, header .header_text h1 span {
  color: #aa151b;
  font-weight: bold;
}

/* line 89, ../sass/_base.sass */
.flags {
  margin-top: 2em;
}
/* line 92, ../sass/_base.sass */
.flags .flag .header {
  font-size: 2em;
  line-height: 1;
  color: white;
  height: 70px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 2em 0;
  text-align: center;
}
/* line 102, ../sass/_base.sass */
.flags .flag.bad-people {
  width: 23.729%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
/* line 104, ../sass/_base.sass */
.flags .flag.bad-people .header {
  background-color: #aa151b;
  line-height: 70px;
}
/* line 107, ../sass/_base.sass */
.flags .flag.heroes {
  width: 49.153%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
/* line 109, ../sass/_base.sass */
.flags .flag.heroes .header {
  background-color: #f1bf00;
  line-height: 70px;
}
/* line 113, ../sass/_base.sass */
.flags .flag.heroes ul li {
  width: 15.254%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
/* line 115, ../sass/_base.sass */
.flags .flag.heroes ul li.last {
  float: right;
  margin-6: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 117, ../sass/_base.sass */
.flags .flag.twitter-stream {
  width: 23.729%;
  float: left;
  margin-right: 1.695%;
  display: inline;
  background-color: #aa151b;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
