// Greys
$grey_lighter       : #f7f7f7
$grey_light         : #f0f0f0
$grey               : #ccc
$grey_semidark      : darken($grey, 25%)
$grey_dark          : #666
$dark               : #444
$darker             : #222

// Coorporativos
$blue               : #336699
$blue_light         : lighten($blue, 20%)
                             
#Spain Flag
$red                : #AA151B
$yellow             : #F1BF00

